      body {

	    background: url('../images/bg2.jpeg') no-repeat center center fixed;
	    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding-left: 10em;
        padding-right: 15em;
        font-family: Georgia, "Times New Roman",Times, serif;
        color: purple;
        font-size: 18px;
        padding-top:70px;
        }

        p{
        padding-right: 5em
        }

        h1 {
        font-family: Cochin, Geneva, Helvetica, Arial,
        SunSans-Regular, sans-serif;
        color: blue;
        text-align: center
        }

h3 {
font-family: Cochin, Geneva, Helvetica, Arial,
        SunSans-Regular, sans-serif;
}

p{
width:1000px
}

        ul.topnav {
		/*
		width:70%;
		top:0;
		position: fixed; 
*/
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            /* Added these lines to the top nav bar in the blog page, so that we have rounded corners */
            background-color: #6ab6c5;
            -webkit-border-radius:15px;
            -moz-border-radius:15px;
            -ms-border-radius:15px;
            border-radius:15px;
            /* position:fixed; */
        }

        ul.topnav li {
            float: left;
        }

        ul.topnav li a, .dropbtn {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        /* Change the link color to #111 (black) on hover */
        ul.topnav li a:hover, .dropdown:hover .dropbtn {
            background-color: #111;
        }


        ul.topnav li a.active {
            background-color: #4CAF50;
        }

        @media screen and (max-width: 600px){
            ul.topnav ul.right,
            ul.topnav li {float: none;}
        }

        .dropdown {
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {background-color: #f1f1f1}

        .dropdown:hover .dropdown-content {
            display: block;
        }

        img{
        float:left;
        margin-top:  0px;
         margin-bottom: 5px;
         margin-right: 10px;
         margin-left:0
        }

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #1a82ad;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 20px;
}

/* Add a background color to the button if
1) it is clicked on (add the .active class with JS),
2) and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

    /*
      This portion makes boundaries on the items of the navbar
    */
/*
        li {
            border-right: 1px solid #bbb;
        }

        li:last-child {
            border-right: none;
        }

*/

/* For associating topics with the various articles */
.topics li{
display:inline-block;
margin:0px 5px 20px 0px}


.topics li{
display:inline-block;
float:none !important;
margin-bottom:20px;
margin:0px 5px 20px 0px
}

.topics li a{
border:1px solid #757575;
text-decoration: none;
padding:5px 15px;
-webkit-border-radius:15px;
-moz-border-radius:15px;
-ms-border-radius:15px;
border-radius:15px;
color:#666;
font-family:"Open Sans",sans-serif;
font-size:14px;
-webkit-transition:all 0.2s ease-in-out;
-moz-transition:all 0.2s ease-in-out;
-o-transition:all 0.2s ease-in-out;
-ms-transition:all 0.2s ease-in-out;
transition:all 0.2s ease-in-out
}

.topics  li a:hover
{
background:#218ccc;
color:#fff !important;
border-color:#218ccc
}

@media screen and (max-width: 1280px)
{.story-section .story-area .story-area-left .topic-area .topics li{
margin:0px 5px 15px 0px}}

@media screen and (max-width: 1280px)
{.topics
{
margin:10px 3px;
float:none
}
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}
